{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    .login {
        margin: 180px auto 0;
        max-width: 400px;
    }
    .form-group {
        margin-bottom: 15px;
    }
</style>

<body>
    <div class = "login" style="text-align: center;">
        
        <h1 style="margin-bottom: 25px;">Login</h1>
    
        <form method="POST" action="">

            {% csrf_token %}
            
            <!-- <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
    
                <tr>
                    <td></td>
                    <td><input class="btn btn-success col-12 mx-auto" type="submit" value="Login"></td>
                </tr>
            </table> -->

            <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
                <input class="btn btn-success col-12" type="submit" value="Login">
            </div>
        </form>

        
    
        {% if messages %}
            <ul style="list-style-type: none;">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
        
        <p3>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></p>
        
    
    </div>
</body>


{% endblock content %}